body{
  background-color: black;
  color: white;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: solid 1px dodgerblue;
  background-color: black;
}
.logo{
  font-weight: bold;
  font-size: 22px;
}
nav{
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
nav a{
  text-decoration: none;
  color: white;
}
nav a:hover{
  color: dodgerblue;
}