body{
  background-color: black;
  color: white;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 50px;
  padding-bottom: 30px;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: solid 1px dodgerblue;
  background-color: black;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
.logo{
  font-weight: bold;
  font-size: 22px;
}
nav{
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
nav a{
  text-decoration: none;
  color: white;
}
nav a:hover{
  color: dodgerblue;
}


footer {
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}