body{
  background-color: black;
  color: white;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 50px;
  padding-bottom: 30px;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: solid 1px rgba(76, 76, 76, 0.8);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  position: fixed;
  left: 5px;
  right: 5px;
  top: 5px;
}
.logo{
  font-weight: bold;
  font-size: 22px;
}
nav{
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
nav a{
  text-decoration: none;
  color: white;
}
nav a:hover{
  color: dodgerblue;
}


footer {
  text-align: center;
  color: #A8A8A8;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
}

@media(max-width: 760px){
  body{
    padding-top: 100px;
  }
  header{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
  nav{
    flex-direction: column;
    gap: 5px;
  }
}