section{
  display: flex;
  padding: 50px;
  justify-content: space-between;
  align-items: center;
}
#company-name{
  font-size: 32px;
  color: dodgerblue;
}
.image-holder img {
  width: 80%;
  margin-left: 50px;
}
#slogan{
  font-family: monospace;
}
