section{
  display: flex;
  padding: 50px;
  justify-content: space-between;
  align-items: center;
}
#company-name{
  font-size: 32px;
  color: dodgerblue;
}
.image-holder img {
  width: 80%;
  margin-left: 50px;
}
#slogan{
  font-family: monospace;
}
.social{
  display: flex;
  justify-content: center;
}
.social img{
  width: 15px;
  padding: 0 10px 0 10px;
}

@media(max-width: 760px){
  section{
    flex-direction: column;
    padding: 10px;
  }
  .image-holder img{
    width: 100%;
    margin-left: 0;
  }
}
