section{
  padding: 30px;
}
.achievements{
  margin-bottom: 100px;
}
.project-container,
.package-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.project-container > div{
  display: flex;
  border: solid 2px dodgerblue;
  border-radius: 10px;
  height: 200px;
  min-width: 100px;
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.4);
}

.package-container > div:active{
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.3);
}
.project-container img{
  height: 100%;
  border-radius: 10px;
}
.description{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.description a{
  color: green;
}
.package-container > div{
  border: solid 2px dodgerblue;
  border-radius: 10px;
  min-width: 100px;
  min-height: 200px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.4);
}
.package-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.package-color{
  width: 150px;
  height: 40px;
  background-color: yellow;
  border-radius: 50% 0 50% 0;
}
.includes{
  font-family: monospace;
}

@media(max-width: 760px){
  section{
    padding: 20px;
  }
  .project-container,
  .package-container {
  grid-template-columns: 1fr;
  gap: 20px;
  }
  .project-container > div{
    flex-direction: column;
    height: 400px;
  }
  .project-container img {
  height: 80%;
  }
  .description a{
    margin-bottom: 10px;
  }
}